.landingFont{
     font-size: 85px;
     font-weight: 90px;
     line-height: 5px;
}
.landingFont1 {
     font-size: 70px;
     font-weight: lighter;
}
.bg-whiteMoke{
     background-color: #F7F5FC;
}